#background{
	background-color: rgba(255, 204, 102,0.6);

	width:80%;
	height:625px;
	margin:auto;
	margin-top: 2%;
	


}
#secondeCounter{
	background-color: rgba(0, 225, 255,0.7);
	
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 2%;

	width:20%;
	height:550px;

	float: left;

	border-width:5px;
	border-style:dashed;
	border-color:#FFAC55;

}
#gameDrawer{
	background-color: rgba(255, 128, 0,0.7);

	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 2%;

	width:70%;/* 為了判斷邊界方便，建議不要使用% */
	height:550px;
	padding:5px;

	float: left;
	position: relative; /* 必須有這個屬性，下面的relative才能以此為參照，否則會以整個頁面為參照 */

	border-width:5px;
	border-style:dashed;
	border-color:#00FFFF;


}
#left-top{
	border-width:3px;
	border-style:dashed;
	border-color:red;

	width:10%;
	height:10%;



	position:absolute;/* 以上一層的最左上角為參考點 */
	
	top:0px;
	left:0px;


}
#right-top{
	border-width:3px;
	border-style:dashed;
	border-color:red;



	width:10%;
	height:10%;

	

	position:absolute;
	
	top:0px;
	right:0px;
}
#left-buttom{
	border-width:3px;
	border-style:dashed;
	border-color:red;

	width:10%;
	height:10%;

	position:absolute;

	bottom:0px;
	left:0px;
}
#right-buttom{
	border-width:3px;
	border-style:dashed;
	border-color:red;

	width:10%;
	height:10%;

	position:absolute;
	
	right:0px;
	bottom:0px;
	
}

#character_1{
	position:absolute;
	
	top:100px;
	left:100px;
}
#character_2{
	position:absolute;
	
	top:300px;
	left:100px;
}
#character_3{
	position:absolute;
	
	top:500px;
	left:500px;
}


.character_container{

	background-color: rgba(0, 0, 0,0.7);

	width:55px;
	height:55px;

	text-align: center;

}
.character{
	background-color: rgba(255, 255, 255,0.7);
	width:40px;
	height: 40px;

	margin:0px auto; /*div置中  但此方法會讓腳色名稱超出界線 */
	


}
.character_p{
	font-size:5px;


}
.ask_name{

	background-color: rgba(0, 225, 255,0.7);

	width:60%;
	height:30%;

	position:absolute;

	left:20%;
	top:30%;

	border-width:5px;
	border-style:dashed;
	border-color:#FFAC55;

	text-align: center;
}



.wordsInDiv{
	text-align: center;
	color: red; 
}

.space{
	background-color: rgba(255, 255, 255,255.7);
	width:90%;
	height:20%	;

	margin-left:5%;
	margin-top: 7%;
}
.askName_p{
	font-size:20px;
}


